<div class="card-group"></div>
  <div class="card">
    <img src="https://www.google.com/imgres?q=gambar%20alam&imgurl=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2015%2F07%2F09%2F22%2F45%2Ftree-838667_1280.jpg&imgrefurl=https%3A%2F%2Fpixabay.com%2Fid%2Fimages%2Fsearch%2Fpemandangan%2F&docid=8CFqxLnR99jV7M&tbnid=qUrZiU4AqoGVQM&vet=12ahUKEwj9he_jtfSIAxW6fGwGHUejDE8QM3oECFEQAA..i&w=1280&h=852&hcb=2&ved=2ahUKEwj9he_jtfSIAxW6fGwGHUejDE8QM3oECFEQAA" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-body-secondary">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <small class="text-body-secondary">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <small class="text-body-secondary">Last updated 3 mins ago</small>
    </div>
  </div>
</div>