<!DOCTYPE html>
<html>
<head>
  <title>Detail Order</title>
</head>
<body>
  <h1>Detail Order Paket Wisata</h1>
  <p>Nama: <%= nama %></p>
  <p>Paket: <%= paket %></p>
  <p>Tanggal: <%= tanggal %></p>
</body>
</html>
