<!DOCTYPE html>
<html>
<head>
  <title>Paket Wisata</title>
</head>
<body>
  <h1>Daftar Paket Wisata</h1>
  <table border="1">
    <thead>
      <tr>
        <th>Nama Paket</th>
        <th>Deskripsi</th>
        <th>Harga</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Paket A</td>
        <td>Paket wisata ke pantai</td>
        <td>Rp 500.000</td>
      </tr>
      <tr>
        <td>Paket B</td>
        <td>Paket wisata ke pegunungan</td>
        <td>Rp 700.000</td>
      </tr>
    </tbody>
  </table>
</body>
</html>
